body {
    margin: 0;
    font-family: Arial, sans-serif;
}

sidebar {
    width: 15%;
    float: left;
    background: darkslategrey;
    height: 100vh;
    color: white;
    border-right: 5px solid #ccc;
    padding: 1.5%;
}

sidebar ul {
    list-style: none;
}

sidebar ul a {
    text-decoration: none;
}

sidebar ul li {
    color: #fff;
    display: block;
    margin-top: 10px;
    transition: transform .6s ease;
}

sidebar ul li:hover, sidebar ul a:hover {
    color: cyan;
    transform: scale(1.1);
}

sidebar h3 {
    margin-top: 50px;
    font-size: 20px;
}

main .features {
    text-align: center;
    position: relative;
    padding: 20px;
}