{% extends 'layout.html' %}

{% block title %}{{ article.title }}{% endblock %}

{% block main %}
    <div class="article-container">
        <h1 class="article-title">{{ article.title }}</h1>
        <p class="article-date">{{ article.date }}</p>
        <div class="article-content">
            {{ article.full_text }}
        </div>
    </div>
{% endblock %}


{% block sidebar-bottom %}
    {% if user.is_authenticated and user.is_employee or user.is_superuser %}
        <a href="{% url 'news-edit' article.id %}" class="blue-button" style="margin-top: 20px; transition: transform 0.6s ease; background-color: #ffc107;">Редактировать</a>
        <a href="{% url 'news-delete' article.id %}" class="blue-button" style="margin-top: 20px; transition: transform 0.6s ease; background-color: red;">Удалить</a>
    {% else %}
    {% endif %}
{% endblock %}
