{% extends 'layout.html' %}

{% block title %}Вход{% endblock %}

{% block main %}
    <div class="features">
        <form method="post" class="login-form">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>
            <button type="submit" class="blue-button">Войти</button>
        </form>
        {% if error %}
            <div class="error-message">
                {{ error }}
            </div>
        {% endif %}
    </div>
{% endblock %}
