{% extends 'layout.html' %}

{% block title %}О нас{% endblock %}

{% block main %}
    <div class="features">
        <h1 class="aboba">О НАС</h1>
        <p><strong>Название</strong>: Мебельный магазин "Уютный дом"</p>
        <p><strong>Описание</strong>: Мебельный магазин "Уютный дом" предлагает широкий ассортимент качественной мебели для дома и офиса. Мы стремимся создавать комфортное пространство для наших клиентов, предлагая стильные и функциональные решения.</p>
        <ul><h2>История по годам</h2></ul>
        <div style="text-align: left;">
            <li>2010: Открытие первого магазина в Москве. Начало продаж мебели от местных производителей.</li>
            <li>2012: Расширение ассортимента. Появление эксклюзивных коллекций от европейских брендов.</li>
            <li>2015: Открытие интернет-магазина для удобства покупок в любое время.</li>
            <li>2018: Успешное участие в международной выставке мебели, что повысило нашу репутацию на рынке.</li>
            <li>2020: Запуск программы лояльности для постоянных клиентов и обновление шоурума.</li>
            <li>2023: Открытие второго магазина в Санкт-Петербурге и запуск линии экологически чистой мебели.</li>
        </div>
        <ul><h2>Реквизиты</h2>
            <div style="text-align: left;">
                <li>Юридическое лицо: ООО "Уютный дом"</li>
                <li>ИНН: 1234567890</li>
                <li>КПП: 123456789</li>
                <li>ОГРН: 1234567890123</li>
                <li>Адрес: 123456, г. Москва, ул. Комфортная, д. 1</li>
                <li>Телефон: +7 (495) 123-45-67</li>
                <li>Электронная почта: info@uyutnydom.ru</li>
            </div>
        </ul>
        <h2>Сертификат</h2>
        Мебельный магазин "Уютный дом" сертифицирован по стандартам качества ISO 9001:2015, что подтверждает высокое качество нашей продукции и услуг.
        <iframe src="https://discord.com/widget?id=946154107058671666&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
    </div>
{% endblock %}