{% extends 'layout.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block head %}
    <meta name="description" content="Welcome to my Django Page where you can find the latest news.">
    <meta name="keywords" content="Django, News, Updates">
    <link rel="icon" href="{% static 'bebrou.jpg' %}" type="image/jpeg">
    <style>
        .banner {
            width: 100%;
            max-width: 600px;
            margin: auto;
        }
        .banner img {
            width: 100%;
            height: auto;
        }
        img {
            width: 25%;
            height: auto;
        }
    </style>
{% endblock %}

{% block main %}
    <div class="features" itemscope itemtype="http://schema.org/WebPage">
        <img src="{% static 'images/logo.jpeg' %}" alt="logo" itemprop="image">
        <h1 contenteditable="true" class="animtest" itemprop="headline">Welcome to my Django Page</h1>
        
        {% if news %}
            <div class="news-item" itemscope itemtype="http://schema.org/NewsArticle">
                <img src="{{ news.picture.url }}" width="300" itemprop="image">
                <h2 class="news-title" itemprop="headline">{{ news.title }}</h2>
                <p class="news-excerpt" itemprop="description">{{ news.first_sentence }}</p>
                <a href="{% url 'news-detail' news.id %}" class="blue-button" itemprop="url">Читать далее</a>
            </div>
        {% else %}
            <h1 class="no-news">Нет ни одной новости</h1>
        {% endif %}
        
        <h1>Наша реклама</h1>
        <div class="banner" itemscope itemtype="http://schema.org/ImageObject">
            <img src="{% static 'images/banners/banner1.jpg' %}" border="1" alt="Реклама 1" itemprop="contentUrl">
        </div>
        <div class="banner" itemscope itemtype="http://schema.org/ImageObject">
            <img src="{% static 'images/banners/banner2.jpg' %}" border="1" alt="Реклама 2" itemprop="contentUrl">
        </div>
    </div>
{% endblock %}