{% extends 'layout.html' %}

{% block title %}Личный кабинет{% endblock %}

{% block main %}
    <div class="features">
        <h1>Здравствуйте, {{ user.username }}</h1>
        <img src="{{ user.profile_picture.url }}" width="300">
        {% if request.user.age >= 18 %}
            <h2>Вы совершеннолетний пользователь (дата рождения: {{ request.user.date_of_birth }})</h2>
        {% endif %}
        <a href="{% url 'update-picture' %}">Добавить фото</a>
        <h2>Мои заказы</h2>
        {% if orders %}
            {% for el in orders %}
            {% if el.date_of_fulfillment %}
            <div class="order-item order-item-green">
            {% else %}
            <div class="order-item">
            {% endif %}
                <p>Общая цена заказа: {{ el.total }} </p>
                <p>Дата заказа: {{ el.date_of_order }} </p>
                {% if el.promo_code %}
                    <p>Промокод: {{ el.promo_code }}</p>
                {% endif %}
                {% if el.date_of_fulfillment %}
                    <p>Дата выполнения: {{ el.date_of_fulfillment }}</p>
                {% else %}
                {% endif %}
                <details>
                    <summary>Показать детали заказа</summary>
                    <div>
                        {% for item in sales_items %}
                            {% if item.sale == el %}
                                <p>Продукт: {{ item.product.name }} - Количество: {{ item.quantity }} - Цена: {{ item.product.price }} </p>
                            {% endif %}
                        {% endfor %}
                    </div>
                </details>
            </div>
            {% endfor %}
        {% else %}
        <h3>Заказов нету</h3>
        {% endif %}
    </div>
{% endblock %}